{% extends "layout.html" %}
{% block title %}Log in{% endblock %}

{% block content %}
Message count: {{ count }}
<hr>
{% for area in message_areas %}
    <div>
        <ul>
            <li>
                {{ area.name }} | <a href="/area/{{ area.id }}"></a>
            </li>
        </ul>
    </div>
{% endfor %}
{% if session.user_id %}
You're logged in.
<a href="/new" class="button_inline">Send a message</a> | <a href="/logout" class="button_inline">Log out</a>
{% else %}
<a href="/login" class="button_inline">Log in</a>
{% endif %}

{% endblock %}
