{% extends "layout.html" %}
{% block title %}Log in{% endblock %}

{% block content %}

<body>
    <form action="/register" method="POST">
        Username: <input type="text" name="username" placeholder="Username">
        <p>
            Password: <input type="password1" name="password1" placeholder="Password">
        <p>
            Confirm your password: <input type="password2" name="password2" placeholder="Password">
        <p>
            <input type="checkbox" value="1" name="admin"> I want to be an admin
        <p>
            <input type="submit" value="Create">
    </form>
    <hr>
</body>

{% endblock %}
